APP_NAME=Nazo
APP_URL=http://localhost/NazoLinktree
APP_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_NAME=nazo_linktree
DB_USER=root
DB_PASS=

ADMIN_ROUTE=adminadalahraja
ADMIN_PASSWORD=your_secure_password_here

UPLOAD_MAX_SIZE=10485760
